.page-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
}

.page-product-side {
  display: flex;
  flex-direction: column;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.product-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 0;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.product-item {
  background-color: teal;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}
