.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.bold {
  font-weight: bold;
}

.faded {
  color: grey;
  font-style: italic;
  margin-left: 30px;
}
