.list-item {
  display: flex;
  align-items: center;
  background-color: lightgray;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.list-item.selected {
  background-color: lightblue;
  border: 1px solid salmon;
}

.list-item:hover {
  border: 1px solid black;
}

.catalog-master-card {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.catalog-master-card-content {
  padding: 10px;
  background-color: white;
}
